@media screen and  (max-width:992px){
    .Container_Master_Desktop{
        display: none;
    }
    
    .Logo_Home_Smart{
        position: absolute;
        margin:20px 0px 0px 30px ;
        left:100px;
        
    }
    
    .Barra_Menu{
        position: absolute;
        background-color: white;
        background: solid;
        width: 100%;
        height: 130px;
        left: 0px;
        top:0px;
        
    }

    .Menu_Barras{
      position: absolute;
        width: 5%;
        right: 0px;
        margin-right: 35px;
        margin-top: 40px;
    }

    
}